<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       					   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<context:component-scan base-package="com.github.sabomichal.akkaspringfactory"/>

	<bean id="actorSystem" class="com.github.sabomichal.akkaspringfactory.ActorSystemFactoryBean">
		<property name="name" value="myActorSystem"/>
		<property name="config">
			<bean class="com.typesafe.config.ConfigFactory" factory-method="load">
				<constructor-arg value="akkaActor.conf"/>
			</bean>
		</property>
	</bean>

	<bean id="greeter" class="com.github.sabomichal.akkaspringfactory.ActorFactoryBean">
		<property name="actorSystem" ref="actorSystem"/>
		<property name="actorClass" value="com.github.sabomichal.akkaspringfactory.test.GreetingActor"/>
	</bean>

</beans>